{{#if currentUser.staff}}
  <li>
    {{#link-to 'adminPlugins.subscription-manager'}}
      {{i18n "subscription-manager.title"}}
      {{#if currentUser.subscribed}}
        <span class='badge-notification flagged-posts'>{{currentUser.subscribed_until}}</span>
      {{/if}}
    {{/link-to}}
  </li>
{{/if}}
